<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .new{color: red;}
    </style>
</head>
<body>
                <div id="wrapper">
                            <p >
                                <input type="text" v-model='select'>
                                {{select}}</p>
                                <p v-for='(item,index) in arr' @click='select1' :class='obj'>{{item.name}}</p>
                </div>
               
            
                
            
            <script src="vue.js"></script>
            <script>
            new Vue({
                el:wrapper,
                data:{
                    obj:{},
                    arr:[
                        {name:'zhangsan',
                        isActive: true,

                           },
                        {name:'lisi',
                        isActive: true,
                            },
                        {name:'niubi',
                        isActive: true,

                  }],
                    select:'',
                    
                },
                methods:{
                    select1(){
                        obj:()=>{
                            return {
                                new:item.isActive 
                            }
                        }
                    }
                }
               
            })
            
            </script>
</body>
</html>